@model Project.Models.Transaction


@{
    ViewData["Title"] = "Insert Sale";
    Layout = "~/Views/Shared/_Sales.cshtml";
}

        <form method="post" asp-action="Insert">
            <section class="form-section">
                <h1 class="title">Insertion</h1>
                <div class="container">
                    <div class="form row">
                        <div class="form-field col-lg-6">
                            <input id="price" class="input-text" type="text" asp-for="Price" />
                            <label for="price" id="priceLabel" class="label">Price</label>
                            <span asp-validation-for="Date"></span>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="price" class="input-text" type="date" asp-for="Date" />
                            <label for="price" id="priceLabel" class="label">Size</label>
                            <span asp-validation-for="Date"></span>
                        </div>
                        <input type="hidden" asp-for="UserId" value=@ViewBag.UserId />
                        <input type="hidden" asp-for="Houseid" value=@ViewBag.HouseId />
                        <div class="form-field col-lg-12">
                            <input class="submit-btn" type="submit" value="submit" />
                        </div>
                    </div>
                </div>
            </section>
        </form>



