<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PropertyManager" asp-action="Insertion">Insertion</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Report</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-controller="PropertyManager" asp-action="Index">Search House</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-controller="PropertyManager" asp-action="Index">Edit House</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-controller="PropertyManager" asp-action="Index">Add User</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-controller="PropertyManager" asp-action="Index">Change Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<body>
    <div>
        @RenderBody()
    </div>
</body>
 <script src="~/js/site.js" asp-append-version="true"></script>
</html>
