<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<header>
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand">
                <p id="logo">SRN-RealEstate</p>
            </a>
        
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar --
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse navbar-collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">

                <a class="list-group-item list-group-item-action active" asp-controller="Sales" asp-action="Index"><i class="fa fa-home"></i>&nbsp Main dashboard</a>
                <a class="list-group-item list-group-item-action" asp-controller="Account" asp-action="ChangeProfileSales"><i class="fa fa-user-plus"></i>&nbsp Change Profile</a>
                <a class="list-group-item list-group-item-action " asp-controller="Sales" asp-action="Insert"><i class="fa fa-plus-circle"></i>&nbsp Insert Sales</a>
                <a class="list-group-item list-group-item-action" asp-controller="Account" asp-action="Logout"><i class="fa fa-minus-square"></i> &nbsp Logout</a>
               
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    >
</header>

<!--Main Navigation-->
<!--Main layout-->
<main class="main" style="min-height: auto;">
    <div class="container pt-4">
        @RenderBody()

    </div>
</main>
<!--Main layout-->


<body>
    <div>
    </div>
</body>

<script src="~/js/site.js" asp-append-version="true"></script>

</html>
