@model Project.Models.House;


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PropertyManager.cshtml";
}


<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Insert Property</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Delete Property</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-line fa-fw me-3"></i><span>Update Property</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Add User</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-globe fa-fw me-3"></i><span>Report</span></a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt="" loading="lazy" />
            </a>
            <!-- Search form -->
            <form class="d-none d-md-flex input-group w-auto my-auto">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px" />
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

<!--Main Navigation-->
<!--Main layout-->
<main style="min-height: auto;">
    <div class="container pt-4">
        <form method="post" asp-action="Edit">
            <section class="form-section">
                <h1 class="title">Edit</h1>
                <div class="container">
                    <div class="form row">
                        <div class="form-field col-lg-6">
                            <input asp-for="HouseId" class="input-text" type="text" name="" />
                            <label for="houseId" id="houseIDLabel" class="label" asp-for="HouseId"></label>
                        </div>
                        <div class="form-field col-lg-6">
                            <select class="input-text" id="type" asp-for="HouseType">
                                <option value="Choose type" class="label" hidden selected>Choose type</option>
                                <option value="vila">Vila</option>
                                <option value="storey">Storey</option>
                                <option value="apartment">Apartment</option>
                                <option value="building">Building</option>
                            </select>

                        </div>
                        <div class="form-field col-lg-6">
                            <input id="size" class="input-text" type="text" asp-for="HouseSize" />
                            <label for="size" id="sizeLabel" class="label">Size</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="price" class="input-text" type="text" asp-for="Price" />
                            <label for="price" id="priceLabel" class="label">Price</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="status" class="input-text" type="text" asp-for="HouseStatus" />
                            <label for="status" id="statusLabel" class="label">Status</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="address" class="input-text" type="text" asp-for="Address" />
                            <label for="address" id="addressLabel" class="label">Address</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="noOfFloors" class="input-text" type="number" asp-for="HouseFloorNo" />
                            <label for="noOfFloors" id="noOfFloorsLabel" class="label">Number of floors</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <input id="picture" class="input-text" type="text" name="" />
                            <label for="picture" class="label">Picture(Optional)</label>
                        </div>
                        <div class="form-field col-lg-12">
                            <input class="submit-btn" type="submit" value="submit" />
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</main>
<!--Main layout-->
