
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_PropertyManager.cshtml";
}



<section class="m-5">
 <form>
<input type="text" id="search" placeholder="Keyword" class="textBox" value="@ViewBag.searchIndex" />
<label for="options" class="searchByLabel">Search by</label>
<select class="textBox">
    <option value="Id">Id</option>
    <option value="size">size</option>
    <option value="address">address</option>
    <option value="Price">Price</option>
</select>

<button class="SearchButton"type="submit">Search</button>
<div class="lineBreak"></div>
</form>
</section>