@model Project.Models.ViewModels.ChangeProfileModel;
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_PropertyManager.cshtml";
}

<form method="post" asp-controller="Account" asp-action="ChangeProfile">
    <section class="form-section">
        <h1 class="title">Change Profile</h1>
        <div class="container">
            <div class="form row">
                <div class="form-field col-lg-6">
                    <input id="userName" class="input-text" type="text" asp-for="userName" value="@ViewBag.userName" />
                    <label for="userName" id="userNameLabel" class="label">UserName</label>
                    <span asp-validation-for="userName"></span>
                </div>
                <div class="form-field col-lg-6">
                    <input id="CurrentPassword" class="input-text" type="text" asp-for="CurrentPassword" />
                    <label for="CurrentPassword" id="CurrentPasswordLabel" class="label">CurrentPassword</label>
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-field col-lg-6">

                    <input id="password" class="input-text" type="text" asp-for="NewPassword" />
                    <label for="password" id="passwordLabel" class="label">New Password</label>
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-field col-lg-12">
                    <input class="submit-btn" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </section>
</form>
